/* For use in src/lib/core/theming/_palette.scss */
$mat-ui-primary: (
  50 : #e6ebf4,
  100 : #c1cde3,
  200 : #97abd1,
  300 : #6d89bf,
  400 : #4e70b1,
  500 : #2f57a3,
  600 : #2a4f9b,
  700 : #234691,
  800 : #1d3c88,
  900 : #122c77,
  A100 : #acbeff,
  A200 : #7996ff,
  A400 : #466eff,
  A700 : #2c5aff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-ui-accent: (
  50 : #f8f8f8,
  100 : #eeeeee,
  200 : #e3e3e3,
  300 : #d7d7d7,
  400 : #cfcfcf,
  500 : #c6c6c6,
  600 : #c0c0c0,
  700 : #b9b9b9,
  800 : #b1b1b1,
  900 : #a4a4a4,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffebeb,
  A700 : #ffd1d1,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-ui-warning: (
  50 : #e0ebfd,
  100 : #b3cefa,
  200 : #80adf6,
  300 : #4d8cf2,
  400 : #2673f0,
  500 : #005aed,
  600 : #0052eb,
  700 : #0048e8,
  800 : #003fe5,
  900 : #002ee0,
  A100 : #ffffff,
  A200 : #d4daff,
  A400 : #a1afff,
  A700 : #8899ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

